{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="section">
  <h4 style="text-transform: uppercase;"><b>{{ course.title }}</b></h4>
</div>

<div class="row">

    <div class="col s3">
        <ul class="collection with-header">
          <a href="{% url 'lesson' course.id %}" class="collection-item active">Lesson</a>
          <a href="" class="collection-item">Quiz</a>
          <a href="" class="collection-item">Leader Board</a>
        </ul>
    </div>

    <div class="col s9">
      <!--{% if teacher_mode == True %}-->
          <div class="card">
              <a href="{% url 'new-lesson' course.id %}" class="btn-floating btn-large waves-effect waves-light red left">
                  <i class="material-icons">create_new_folder</i>
              </a>
          </div>
          <div style="margin-left: 70px; padding-top:1px">
              <p><b>Create New Lesson</b></p>
          </div>
          </br>
          <div class="divider"></div>
            </br>
      <!--{% endif %}-->

    <!--{% for lesson in course.lesson.all %}
        <div class="col s12 m4">
            <div>
                <div><i class="material-icons left">turned_in_not</i><h5>{{lesson.title }}</h5></div>
                <div>
                    <a href="" class="btn blue small"><i class="material-icons">visibility</i></a>
                    {% if teacher_mode == True %}
                        <a href="" class="btn"><i class="material-icons">edit</i></a>
                        <a href="" class="btn red"><i class="material-icons">delete</i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}-->

    {% for lesson in course.lesson.all %}
    <div>
        <ul class="collection">
            <li class="collection-item avatar">
                <i class="material-icons circle" style="margin-top: 13px">folder</i>
                <div class="title" style="margin-top: 8px; color: darkblue">{{lesson.title }}</div>
                <div style="padding-top: 10px">
                    <a href="{% url 'detail-lesson' course.id lesson.id %}" class="btn blue btn-small"><i class="material-icons">visibility</i></a>
                    <!--{% if teacher_mode == True %}-->
                        <a href="{% url 'edit-lesson' course.id lesson.id %}" class="btn btn-small"><i class="material-icons">edit</i></a>
                        <a href="{% url 'delete-lesson' course.id lesson.id %}" class="btn red btn-small"><i class="material-icons">delete</i></a>
                    <!--{% endif %}-->
                </div>
            </li>
        </ul>
    </div>
    {% endfor %}
    </div>

    <!--{{ course.syllabus | safe }}-->

</div>

</div>


</div>

{% endblock %}